ul {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}

body {
  width: 100%;
}

.top-nav {
  background-color: #232323;
  color: #232323;
  position: relative;
}

/* .list-items {
  background-color: black;
  color: white;
} */

.page-footer {
 /* position: absolute; */
 bottom: 0;
 width: 100%;
}

.card {
  /* color: red; */
  background-color: white;
}
