body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  /* background-color: #FFFFFF; */
  list-style: none;
}

.stadium {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.main {
  color: #B9BCBF;
}

.top-line {
  color: yellow;
  background-color: yellow;
  height: 7px;
}

.my-nav {
  background-color: #222322;
}

.top-nav {
  background-color: #222322;
  color: #222322;
  /* color: red; */
  height: 100px;
}

.page-footer {
  background-color: #232323;
}

.footer-copyright {
  background-color: #050505;
  color: #949494;
}

.player-box {
  background-color: #222322;
}

.login-form {
  max-width: 50%;
}

.form-container {
  background-color: white;
}

.login-container {
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fine-print {
  font-size: 20px;
}

/* .episodes {
  background-color: red;
  color: red;
} */

.episode-list {
  /* border-style: solid; */
  color: black;
  font-size: 15px;
}

.notes {
  background-color: white;
}

.notes-title {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 40px;
  text-align: center;
}

/* .episode-link {
  color: white;
} */

.football-icon {
  color: #FEFF08;
  font-size: 40px;
}
/*
.football-icon:hover {

} */

.title-logo {
  font-family: 'Saira Condensed', sans-serif;
}

@media only screen and (max-width: 991px) {
  .instagram-icon {
    display: none;
  }
  .twitter-icon {
    display: none;
  }
  .spotify-icon {
    display: none;
  }
}

.facebook-icon {
  color: #3351A3;
  font-size: 40px;
}

.instagram-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.spotify-icon {
  color: #24D34E;
  font-size: 32px;
}

.twitter-icon {
  color: #1E8DEE;
  font-size: 35px;
}

.sm {
  font-size: 35px;
}

.user-icon {
  color: white;
  font-size: 25px;
}

.caret {
  color: white;
}

.social-bar {
  display: flex;
  justify-content: space-around;
}

/* ul {
  float: right;
  width: 20%;
} */


.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px;
 }

 button.no-border {
   background: none!important;
   /* border-left: none!important; */
   border-left: 1px solid transparent !important;
   border-right: 1px solid transparent !important;
 }
