body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  /* background-color: #FFFFFF; */
  list-style: none;
}

.stadium {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.top-nav {
  /* background-color: black; */
  /* color: red; */
}

.episodes {
  background-color: white;
  border:
}

.episode {
  border-style: solid;
}

.notes {
  background-color: white;
}

/* ul {
  float: right;
  width: 20%;
} */
